div#footer {
    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
    color:#CCC;
    background:#333;
    padding:8px;
}

h1#header {
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    color:white;
    background:#0059b3;
    padding:8px;
    text-align: center;
    font-family: 'Concert One', cursive;
    font-size: 40px;
}

ol#orderlist {
    position: relative;
    top: 100px;
    margin: 30px;
}

/* h3 {
    position: fixed;
    top: 90px;
} */

div#links {
    position: relative;
    top: 150px;
    margin: 30px;
}

img#bread-flipped {
    transform: scaleX(-1);
    width: 70px;
    height: auto;
}

img#bread {
    width: 70px;
    height: auto;
}

div#form {
    position: relative;
    top: 100px;
    margin: 30px;
}

div#splashlinks {
    position: relative;
    top: 100px;
    margin: 30px;
}

div#vendor-index {
    position: relative;
    top: 100px;
}

div#vendor-cards {
    border: black, 2px;
    margin: 30px;
}

div#home-link {
    margin: 30px;
}

h1#sub-header {
    margin: 30px;
}

h1#order-header {
    top: 150px;
}